@using Client.Utils
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.ProductControls
@using Domain.Models

@inherits ModalComponentBase

<EditForm Model="ProductDetailVM" OnSubmit="SaveProductEventHandler">
    <DataAnnotationsValidator />
    <Modal id="@IdModal" Title="Modifier les détails du produit" CloseModalEvent="(() => Close(false))">
        <ChildContent>
            <div class="card-body">
                <div class="row ms-2">
                    <ValidationSummary />
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <InputTextEditor @bind-Value="ProductDetailVM.Reference" Label="Référence" />
                    </div>
                    <div class="col-12 col-sm-8">
                        <InputTextEditor @bind-Value="ProductDetailVM.Name" Label="Nom" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <InputTextareaEditor @bind-Value="ProductDetailVM.Description" Label="Description" Rows=7 />
                        <InputTextareaEditor @bind-Value="ProductDetailVM.DesignInstruction" Label="Instruction de construction" Rows=7 />
                        <SizingEditor @bind-Height="ProductDetailVM.Height" @bind-DiameterTop="ProductDetailVM.TopDiameter" @bind-DiameterBot="ProductDetailVM.BottomDiameter" />

                        <InputSelectEditor @bind-Value="ProductDetailVM.Status" Label="Statut" TValue=ProductStatus?>
                            <option value="@ProductStatus.Test">Test</option>
                            <option value="@ProductStatus.Abandoned">Abandoned</option>
                            <option value="@ProductStatus.Production">Production</option>
                            <option value="@ProductStatus.Discontinued">Discontinued</option>
                        </InputSelectEditor>
                    </div>
                </div>
            </div>
        </ChildContent>
        <ButtonsContent>
            <button type="submit" class="btn btn-outline-green">Enregistrer</button>
            <button type="button" class="btn btn-warning mr-auto" @onclick="UndoEditProductDetail">Annuler</button>
        </ButtonsContent>
    </Modal>
</EditForm>