@page "/Product/{id:int?}"

@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.Product

@inherits PageComponentBase


<div class="row">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">#@ProductDetail.Reference - @ProductDetail.Name</h5>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12">
                            <Text TextStr="@ProductDetail.Description" Label="Description" />
                            <Text TextStr="@ProductDetail.DesignInstruction" Label="Design instruction" />


                            <div style="padding:0 12px">
                                <Sizing Height="@ProductDetail.Height" DiameterTop="@ProductDetail.TopDiameter" DiameterBot="@ProductDetail.BottomDiameter" Read="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                @if (ProductImages.Any())
                {
                    <img class="img-fluid rounded-end" src="@ProductImages[0].ImageUrl" />
                    @*<CarouselCard CarouselItem=ProductImages OnDeleteCard=DeleteImageCmd ShowDeleteButton=true />*@
                }
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-green " @onclick="GoToEdit">
                    <i data-feather="edit-2" class="me-2"></i>
                    Modifier
                </button>
            </div>
        </div>
    </div>
</div>