@using Client.Utils.Extension
@using Domain.Models.MainDomain
@using System.Globalization
@using Utils

@inherits CustomComponentBase

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h5">Composition</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@MaterialsVM" Dense="true" Striped="false">
            <HeaderContent>
                <MudTh>Nom</MudTh>
                <MudTh>Coût</MudTh>
                <MudTh>Quantité</MudTh>
                <MudTh>Type</MudTh>
                <MudTh>Coût total</MudTh>
                <MudTh></MudTh>
            </HeaderContent>    
            <RowTemplate>
                <MudTd DataLabel="Nom">
                    @context.PMat.Material.Reference
                    <MudTooltip Text="@context.PMat.Material.Name">
                        <MudIcon Icon="@Icons.Outlined.Info" Color="Color.Info" Size="Size.Small" />
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel="Coût">
                    <MudNumericField Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="€"
                                     AdornmentColor="Color.Info" Margin="Margin.Dense" Style="width:85px; margin:0;"
                                     ValueChanged="@((e) => CostChanged(e, context.PMat.Id))" T=double Value=@context.PMat.Cost />
                </MudTd>
                <MudTd DataLabel="Quantité">
                    <MudNumericField Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="@context.PMat.Material.UniteMesure.ToString()"
                                     AdornmentColor="Color.Info" Margin="Margin.Dense" Style="width:90px; margin:0;"
                                     ValueChanged="@((e) => QuantityChanged(e, context.PMat.Id))" T=double Value=@context.PMat.Quantity />
                </MudTd>
                <MudTd DataLabel="Type">@context.PMat.Material.Type</MudTd>
                <MudTd DataLabel="Coût total">@context.TotalCost.ToStringMonetary(CurrentCultur)</MudTd>
                <MudTd>
                    <MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.DeleteForever" Size="Size.Small" OnClick="@(async () => await DeleteMat(context))" />
                </MudTd>
            </RowTemplate>
        </MudTable>

        <MudSimpleTable>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>
                        <MudText>@TotalComposition.ToStringMonetary(CurrentCultur)</MudText>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>

        <MudAutocomplete @ref="AutocompleteBox" Class="ma-5" T="Material" Label="Mat." ToStringFunc="@(e=> e==null?null : $"{e.Reference} - {e.Name}")" SearchFunc="@Search"
                         ResetValueOnEmptyText="true" ValueChanged=SelectedValueChanged />

    </MudCardContent>
</MudCard>