@page "/Product/{id:int?}"

@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.ProductControls

@inherits PageComponentBase


<div class="row">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">#@ProductDetailVM.Reference - @ProductDetailVM.Name</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <StatusDisplay Status="@ProductDetailVM.Status" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12">
                            <Text TextStr="@ProductDetailVM.Description" Label="Description" />
                            <Text TextStr="@ProductDetailVM.DesignInstruction" Label="Design instruction" />

                            <div style="padding:0 12px">
                                <SizingDisplay Height="@ProductDetailVM.Height" DiameterTop="@ProductDetailVM.TopDiameter" DiameterBot="@ProductDetailVM.BottomDiameter" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                @if (ProductImages.Any())
                {
                    <img class="img-fluid rounded-end" src="@ProductImages[0].ImageUrl" />
                    @*<CarouselCard CarouselItem=ProductImages OnDeleteCard=DeleteImageCmd ShowDeleteButton=true />*@
                }
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-green" @onclick="GoToEdit">
                    <i data-feather="edit-2" class="me-2"></i>
                    Modifier
                </button>
                <button class="btn btn-outline-red" @onclick="() => OpenDeleteDialog()">
                    <i data-feather="edit-2" class="me-2"></i>
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>


<Modal OnClose="@OnDeleteDialogClose">
    <h5>Coucou</h5>
</Modal>
