@page "/Product/{id:int?}"

@using Client.Utils
@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.ProductControls
@using Domain.Models

@inherits PageComponentBase


<div class="row mt-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="row g-0">
                <div class="card-header">
                    #@ProductDetail.Reference - @ProductDetail.Name
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <StatusDisplay Status="@ProductDetail.Status" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-sm-12">
                                <Text TextStr="@ProductDetail.Description" Label="Description" />
                                <Text TextStr="@ProductDetail.DesignInstruction" Label="Design instruction" />

                                <div style="padding:0 12px">
                                    <SizingDisplay Height="@ProductDetail.Height.ToString()" DiameterTop="@ProductDetail.TopDiameter.ToString()" DiameterBot="@ProductDetail.BottomDiameter.ToString()" />
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <button class="btn btn-outline-green" @onclick='OpenModal'>
                                    <i data-feather="edit-2" class="me-2"></i>
                                    Modifier les détails
                                </button>
                                <button class="btn btn-danger" @onclick='() => OpenModal("DeleteModal")'>
                                    <i data-feather="trash-2" class="me-2"></i>
                                    Supprimer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <Carousel>
                            @for (var i = 0; i < ProductDetail.ImageInstructions.Count; i++)
                            {
                                <ImageCarousel Image="ProductDetail.ImageInstructions.ElementAt(i)" IsFirstElement="@(i==0)" ShowIcons="true"
                                           OnDeleteImageCallback='OpenDeleteImageModal'
                                           OnEditImageCallback="OpenEditImageModal" />
                            }
                            @if (!ProductDetail.ImageInstructions.Any())
                            {
                                <div class="bg-img-cover d-flex justify-content-center p-3" style="background-image: url('assets/img/gallery.png'); height:500px;opacity:0.05"></div>
                            }
                        </Carousel>
                    </div>
                    <div class="row p-0 m-2">
                        <Button Text="Nouvelle image" TypeButton=Button.ButtonType.Safe Onclick='(() => {OpenModal("AddImageModal"); _editedPhoto = false;} )' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 mb-15">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Matières
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col">
                        <button class="btn btn-outline-green" @onclick='(() => OpenModal("AddMaterialModal"))'>
                            <i data-feather="plus" class="me-2"></i>
                            New mat.
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                -
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

<Modal id="DeleteModal" Title="Suppression du produit">
    <ChildContent>
        <p>Voulez-vous supprimer le produit ? suppression définitive.</p>
    </ChildContent>
    <ButtonsContent>
        <button type="button" class="btn btn-outline-green" data-bs-dismiss="modal" @onclick="ModalConfirmDelete">Oui</button>
        <button type="button" class="btn btn-warning mr-auto" data-bs-dismiss="modal">Annuler</button>
    </ButtonsContent>
</Modal>


<Modal id="ConfirmDeleteImageModal" Title="Ajouter une image">
    <ChildContent>
        <div class="mb-3">
            Confirmer la suppression de l'image
        </div>
    </ChildContent>
    <ButtonsContent>
        <Button Text="Ok" data-bs-dismiss="modal" Onclick='(() => DeleteImageCmd())' TypeButton=Button.ButtonType.Danger />
        <Button Text="Annuler" data-bs-dismiss="modal" TypeButton=Button.ButtonType.Warning />
    </ButtonsContent>
</Modal>

<EditForm Model="ImageInstruction" OnSubmit="AddImageEventHandler">
    <Modal id="AddImageModal" Title="Ajouter une image">
        <ChildContent>
            <div class="mb-3">
                <ImageUpload OnChange="@OnInputFileChanged" ImageUrl=@ImageInstruction.Url />
            </div>
            <div class="form-floating mb-3">
                <InputTextareaEditor @bind-Value="ImageInstruction.Comment" Label="Commentaire" Rows=7 />
            </div>
        </ChildContent>
        <ButtonsContent>
            @if (!_editedPhoto)
            {
                <Button Text="Ajouter" data-bs-dismiss="modal" type="submit" TypeButton=Button.ButtonType.Safe />
            }
            else
            {
                <Button Text="Modifier" data-bs-dismiss="modal" Onclick=EditImageCmd TypeButton=Button.ButtonType.Safe />
            }
            <Button Onclick=ResetImageClick Text="Annuler" data-bs-dismiss="modal" TypeButton=Button.ButtonType.Warning />
        </ButtonsContent>
    </Modal>
</EditForm>


<EditForm Model="MaterialDetail" OnSubmit="AddMaterialEventHandler">
    <Modal id="AddMaterialModal" Title="Ajouter une nouvelle matière">
        <ChildContent>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <InputTextEditor @bind-Value="MaterialDetail.Reference" Label="Référence" />
                </div>
                <div class="col-12 col-sm-6">
                    <InputNumberEditor @bind-Value="MaterialDetail.Cost" Label="Coût" />
                </div>
            </div>
            <div class="form-floating mb-3">
                <InputLinkEditor @bind-Value="MaterialDetail.Link" Label="Link" />
            </div>
        </ChildContent>
        <ButtonsContent>
            <Button Text="Ajouter" data-bs-dismiss="modal" type="submit" TypeButton=Button.ButtonType.Safe />
            <Button Text="Annuler" data-bs-dismiss="modal" TypeButton=Button.ButtonType.Warning />
        </ButtonsContent>
    </Modal>
</EditForm>