@using Client.Utils.Extension
@using Domain.Models.MainDomain
@using System.Globalization
@using Utils

@inherits Client.Utils.ComponentBase.CustomComponentBase

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h5">@Localizer["Text_Composition"]</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@MaterialsVm" Dense="true" Striped="false">
            <HeaderContent>
                <MudTh>@Localizer["TableHeader_Name"]</MudTh>
                <MudTh>@Localizer["TableHeader_Cost"]</MudTh>
                <MudTh>@Localizer["TableHeader_Quantity"]</MudTh>
                <MudTh>@Localizer["TableHeader_Type"]</MudTh>
                <MudTh>@Localizer["TableHeader_TotalCost"]</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nom">
                    @context.PMat.Material.Reference
                    <MudTooltip Text="@context.PMat.Material.Name">
                        <MudIcon Icon="@Icons.Material.Outlined.Info" Color="Color.Info" Size="Size.Small" />
                    </MudTooltip>
                </MudTd>
                <MudTd>
                    @((context.PMat.Cost / context.PMat.Material.Quantity).ToStringMonetary(CurrentCultur)) /@context.PMat.Material.UniteMesure.ToString()
                </MudTd>
                <MudTd>
                    <MudNumericField Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="@context.Unite"
                                     AdornmentColor="Color.Info" Margin="Margin.Dense" Style="width:90px; margin:0;"
                                     ValueChanged="@((e) => QuantityChanged(e, context.PMat.Id))" T="double" Value="@context.PMat.Quantity" />
                </MudTd>
                <MudTd>@context.PMat.Material.Type</MudTd>
                <MudTd>@context.TotalCost.ToStringMonetary(CurrentCultur)</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" Size="Size.Small" OnClick="@(() =>  DeleteMat(context))" />
                </MudTd>
            </RowTemplate>
        </MudTable>

        <MudSimpleTable>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>
                        <MudText>@TotalComposition.ToStringMonetary(CurrentCultur)</MudText>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>

        <MudAutocomplete @ref="_autocompleteBox" Class="ma-5" T="Material" Label="Mat." ToStringFunc="@(e=> e==null?null : $"{e.Reference} - {e.Name}")" 
                         SearchFunc="@Search" ResetValueOnEmptyText="true" ValueChanged="SelectedValueChanged" />

    </MudCardContent>
</MudCard>