@page "/Product/Edit/{id:int?}"
@page "/Product/Create"

@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.ProductControls
@using Domain.Models

@inherits PageComponentBase


<EditForm Model="ProductDetail" OnSubmit="SaveProductEventHandler">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="card">

            <div class="row no-gutters">
                <div class="card-header">
                    <h5 class="card-title">#@ProductDetail.Reference - @ProductDetail.Name</h5>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row ms-2">
                            <ValidationSummary />
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <InputTextEditor @bind-Value="ProductDetail.Reference" Label="Référence" />
                            </div>
                            <div class="col-12 col-sm-8">
                                <InputTextEditor @bind-Value="ProductDetail.Name" Label="Nom" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">

                                <InputTextareaEditor @bind-Value="ProductDetail.Description" Label="Description" Rows=7 />
                                <InputTextareaEditor @bind-Value="ProductDetail.DesignInstruction" Label="Instruction de construction" Rows=7 />
                                <SizingEditor @bind-Height="ProductDetail.Height" @bind-DiameterTop="ProductDetail.TopDiameter" @bind-DiameterBot="ProductDetail.BottomDiameter" />

                                <InputSelectEditor @bind-Value="ProductDetail.Status" Label="Statut" TValue=ProductStatus?>
                                    <option value="@ProductStatus.Test">Test</option>
                                    <option value="@ProductStatus.Abandoned">Abandoned</option>
                                    <option value="@ProductStatus.Production">Production</option>
                                    <option value="@ProductStatus.Discontinued">Discontinued</option>
                                </InputSelectEditor>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-green" type="submit">
                                    <i data-feather="edit-2" class="me-2"></i>
                                    Enregistrer
                                </button>
                                <button type="button" class="btn btn-warning" @onclick="UndoCmd">
                                    Retour
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <Carousel>
                            @for (var i = 0; i < ProductDetail.ImageInstructions.Count; i++)
                            {
                                <ImageCarousel Image="ProductDetail.ImageInstructions.ElementAt(i)" IsFirstElement="@(i==0)" ShowIcons="true"
                                           OnDeleteImageCallback='((id) => { OpenModal("ConfirmDeleteImageModal"); _selectedImageId = id;})'
                                           OnEditImageCallback="EditImageCmd" />
                            }
                            @if (!ProductDetail.ImageInstructions.Any())
                            {
                                <div class="bg-img-cover d-flex justify-content-center p-3" style="background-image: url('assets/img/gallery.png'); height:500px;opacity:0.05"></div>
                            }
                        </Carousel>
                    </div>
                    <div class="row p-0 m-2">

                        <Button Text="Nouvelle image" TypeButton=Button.ButtonType.Safe Onclick='(() => OpenModal("AddImageModal"))' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>



<EditForm Model="ImageInstruction" OnSubmit="AddImageEventHandler">
    <Modal id="AddImageModal" Title="Ajouter uen image">
        <ChildContent>
            <div class="mb-3">
                <ImageUpload OnChange="@UploadFile" ImageUrl=@ImageInstruction.Url />
            </div>
            <div class="form-floating mb-3">
                <InputTextareaEditor @bind-Value="ImageInstruction.Comment" Label="Commentaire" Rows=7 />
            </div>
        </ChildContent>
        <ButtonsContent>

            <Button Text="Ajouter" data-bs-dismiss="modal" type="submit" TypeButton=Button.ButtonType.Safe />

            <Button Text="Modifier" data-bs-dismiss="modal" Onclick=ModifierImageCmd TypeButton=Button.ButtonType.Safe />


            <Button Onclick=ResetImageClick Text="Annuler" data-bs-dismiss="modal" TypeButton=Button.ButtonType.Warning />
        </ButtonsContent>
    </Modal>
</EditForm>

<Modal id="ConfirmDeleteImageModal" Title="Ajouter uen image">
    <ChildContent>
        <div class="mb-3">
            Confirmer la suppression de l'image
        </div>
    </ChildContent>
    <ButtonsContent>
        <Button Text="Ok" data-bs-dismiss="modal" Onclick='(() => DeleteImageCmd())' TypeButton=Button.ButtonType.Danger />
        <Button Text="Annuler" data-bs-dismiss="modal" TypeButton=Button.ButtonType.Warning />
    </ButtonsContent>
</Modal>
