@using Client.Utils.Extension
@using Domain.Models.MainDomain
@using System.Globalization
@using Utils

@inherits CustomComponentBase

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h5">Cuissons</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@FiringsVm" Dense="true" Striped="false">
            <HeaderContent>
                <MudTh>@Localizer["TableHeader_Name"]</MudTh>
                <MudTh>@Localizer["TableHeader_Quantity"]</MudTh>
                <MudTh>@Localizer["TableHeader_UnitaryCost"]</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    @context.ProductFire.Firing.Name (@context.ProductFire.Firing.TotalKwH Kw/h)
                </MudTd>
                <MudTd>
                    <MudNumericField Variant="Variant.Text" Adornment="Adornment.End" AdornmentText="Qte"
                                     AdornmentColor="Color.Info" Margin="Margin.Dense" Style="width:135px; margin:0;"
                                     ValueChanged="@((e) => CostChanged(e, context.ProductFire.Id))" T=int Value=@context.ProductFire.NumberProducts />
                </MudTd>
                <MudTd>@context.UnitaryCost.ToStringMonetary(CurrentCultur)</MudTd>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" Size="Size.Small" OnClick="@(() =>  DeleteFire(context))" />
                </MudTd>
            </RowTemplate>
        </MudTable>

        <MudSimpleTable>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td>
                        <MudText>@TotalFiring.ToStringMonetary(CurrentCultur)</MudText>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>

        <MudAutocomplete @ref="AutocompleteBox" Class="ma-5" T="Firing" Label="Fire" ToStringFunc="@(e=> e==null?null : e.Name)" SearchFunc="@Search"
                         ResetValueOnEmptyText="true" ValueChanged=SelectedValueChanged />

    </MudCardContent>
</MudCard>