@page "/Product/{id:int?}"

@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.ProductControls

@inherits PageComponentBase


<div class="row">
    <div class="card">
        <div class="row no-gutters">
            <div class="card-header">
                <h5 class="card-title">#@ProductDetailVM.Reference - @ProductDetailVM.Name</h5>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col">
                            <StatusDisplay Status="@ProductDetailVM.Status" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12">
                            <Text TextStr="@ProductDetailVM.Description" Label="Description" />
                            <Text TextStr="@ProductDetailVM.DesignInstruction" Label="Design instruction" />

                            <div style="padding:0 12px">
                                <SizingDisplay Height="@ProductDetailVM.Height" DiameterTop="@ProductDetailVM.TopDiameter" DiameterBot="@ProductDetailVM.BottomDiameter" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <Carousel>
                    @for (var i = 0; i < ProductImages.Count; i++)
                    {
                        <ImageCarousel Image="ProductImages[i]" IsFirstElement="@(i==0)" />
                    }
                    @if (!ProductImages.Any())
                    {
                        <div class="bg-img-cover d-flex justify-content-center p-3" style="background-image: url('assets/img/gallery.png'); height:500px;opacity:0.05"></div>
                    }
                </Carousel>
            </div>
            <div class="card-footer justify-content-between">
                <button type="button" class="btn btn-warning" @onclick='(()=>NavigationManager.NavigateTo("/"))'>
                    Retour
                </button>
                <button class="btn btn-outline-green" @onclick="GoToEdit">
                    <i data-feather="edit-2" class="me-2"></i>
                    Modifier
                </button>
                <button class="btn btn-danger" @onclick='() => OpenModal("DeleteModal")'>
                    <i data-feather="trash-2" class="me-2"></i>
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>


<Modal id="DeleteModal" Title="Suppression du produit">
    <ChildContent>
        <p>Voulez-vous supprimer le produit ? suppression définitive.</p>
    </ChildContent>
    <ButtonsContent>
        <button type="button" class="btn btn-outline-green" data-bs-dismiss="modal" @onclick="ModalConfirmDelete">Oui</button>
        <button type="button" class="btn btn-warning mr-auto" data-bs-dismiss="modal">Annuler</button>
    </ButtonsContent>
</Modal>
